body {
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
div {
  display: flex;
}
#content {
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  background-color: white;
  align-items: center;
  padding: 5vh;
  border-radius: 3vw;
}
.stat {
  width: 15vw;
  justify-content: space-between;
  flex-direction: row;
  /* border: solid 1px black; */
  padding: 1vh;
}
.point {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
}
.points {
  width: 40%;
  justify-content: space-between;
  cursor: pointer;
}
.gray {
  background-color: lightgray;
}

.selected {
  background-color: violet;
}
.button {
  background-color: violet;
  color: white;
  padding: 1vh;
  border: 2px white solid;
  border-radius: 50px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: violet;
  border: 2px violet solid;
}
.clear {
  background-color: violet;
  border: 2px white solid;
  color: white;
  border-radius: 50%;
  height: 3vh;
  width: 3vh;
  font-size: small;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.clear:hover {
  background-color: white;
  color: violet;
  border: 2px violet solid;
}
@media only screen and (max-width: 600px) {
  #content {
    width: 90vw;
    height: 80vh;
  }
  .stat {
    width: 90%;
  }
  .point {
    height: 2.5vh;
    width: 2.5vh;
  }
}
